*{
    text-align: justify;
}
.title{
    margin: 60px 70px 0px 70px;
}
.header{
    line-height: 0;
}
.span1{
    font-weight: bold;
}
.objective{
    margin: 60px 70px 0px 70px;
}
.objective h2{
    font-weight: bolder;
    background-color: cadetblue;
}
.objective p{
    text-align: justify;
}
.personalprofile{
    margin: 60px 70px 0px 70px;
}
.personalprofile h2{
    font-weight: bolder;
    background-color: cadetblue;
}
.personalinfo{
    padding: 50px;
}
li{
    list-style: none;
    /* justify-content: flex-start; */
}
.qualification{
    margin: 60px 70px 0px 70px;
}
.qualification h2{
    background-color: cadetblue;
}
.experience{
    margin: 60px 70px 0px 70px;
}
.experience h2{
    background-color: cadetblue;
}
.bold{
    font-weight: bold;
}
.ref{
    margin: 60px 70px 0px 70px;
}
.ref h2{
    background-color: cadetblue;
}
div{
    margin: 10px;
}


